<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.d2c.order.business.dao.OrderMapper">
    <resultMap id="BaseMap" type="com.d2c.order.business.model.Order">
        <result column="id" property="id"/>
        <result column="sn" property="sn"/>
        <result column="pay_amount" property="payAmount"/>
    </resultMap>

    <select id="findBySn" resultMap="BaseMap">
		select *
		from o_order
		where sn = #{sn}
		limit 0,1
	</select>

    <update id="updateAmountBySn">
        update o_order
        set pay_amount = #{payAmount}
        where sn = #{sn}
    </update>

</mapper>
