<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.d2c.product.business.mapper.ProductMapper">
    <resultMap id="BaseMap" type="com.d2c.product.business.model.Product">
        <result column="id" property="id"/>
        <result column="sn" property="sn"/>
        <result column="price" property="price"/>
    </resultMap>

    <select id="findBySn" resultMap="BaseMap">
		select *
		from p_product
		where sn = #{sn}
		limit 0,1
	</select>

    <update id="updatePriceById">
        update p_product
        set price = #{price}
        where id = #{id}
    </update>

</mapper>
